<div class="login-wrapper">
  <ion-content>
    <div class="login-form-wrapper" [formGroup]="loginForm">
      <div class="login-input">
        <ion-icon name="person"></ion-icon>
        <input type="text" placeholder="Correo" formControlName="user">
      </div>
      <div class="login-input">
        <ion-icon name="lock"></ion-icon>
        <input type="text" placeholder="Contraseña" formControlName="password">
      </div>
      <button class="login-button" [disabled]="loginForm.invalid" (click)="doLogin()">
        ACCEDER
      </button>
    </div>
  </ion-content>
</div>
