<div class="home-wrapper">
  <div class="header">
    Últimos escaneos
    <ion-icon class="logout-icon" name="log-out" (click)="logout()"></ion-icon>
  </div>
  <ion-content>
    <div class="qr-list-wrapper" *ngIf="!scanning">
      <div *ngIf="products">
        <div class="product-element" *ngFor="let product of products" (click)="openDetail(product)">
          <div class="product-image">
            <img [src]="product.image">
          </div>
          <div class="product-title">
            <div>{{ product.title }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="qr-wrapper" *ngIf="scanning">
      <div class="bars">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </ion-content>
  <div class="footer">
    <button class="scan-button" *ngIf="!scanning" (click)="scanQR()">Escanear QR</button>
    <button class="scan-button" *ngIf="scanning" (click)="cancelQR()">Cancelar</button>
  </div>
</div>